@model IEnumerable<Blogging.Models.CategoryModel>
@{
    ViewBag.Title = "Categories";
    ViewData["Active_Cats_Menu_Open"] = "menu-open";
    ViewData["Active_Cats_Open_Last"] = "active";
    string Icon;
    long i = 0;
}

@section head{ 
    <style>
        .info-box:hover {
            box-shadow: 0 20px 50px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23) !important;
            color: #5f0a87;
            cursor: pointer;
        }
    </style>
}

<h2>All Categories</h2>

<div class="row" id="Content">
    @foreach (var item in Model)
    {
        Icon = item.Icon ?? "list-alt";
        <div class="col-6 col-sm-6 col-md-3 div-wrapper-category" id="@item.CatID">
            <div class="info-box elevation-2" onclick="Redirect('@Url.Action("SingleCategory", "Home", new { CatName = item.Name })', @item.CatID);">
                <span class="info-box-icon "><i class="fas fa-@Icon "></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@item.Name</span>
                    <span class="info-box-number">
                        @item.FormatedCount
                        <small>Blogs</small>
                    </span>
                </div>
            </div>
        </div>
        i++;
    }
</div>

<div id="Loader" class="hidden">
    <div class="row mb-3">
        @for (int count = 0; count < 16; count++)
        {
            <div class="col-6 col-sm-6 col-md-3">
                <div class="info-box elevation-3">
                    <span class="info-box-icon">
                        <div class="image-loader" style="height: 32px;width: 32px;"></div>
                    </span>
                    <div class="info-box-content">
                        <div class="text-line-loader" style="height:16px;width:80%"></div>
                        <div class="text-line-loader" style="width:40%"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="LoadMoreData-div"></div>

@section scripts{

    @Scripts.Render("~/js/jquery-ui")
    <script>
        var $wait = false;
        var $CurrentDataCount = @i;
        var $MoreData = @if (i >= 40) { @("true") } else { @("false") };

        window.onscroll = function (ev) {
            if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                if (!$wait) {
                    // Load functions here
                    console.log("bottom!");
                    LoadInfinite();
                }
            }
        };

        // Locking ajax until load complete
        function LockUnlockWait() {
            $wait = true;
            setTimeout(function () {
                $wait = false;
            }, 4000);
        }

        function LoadInfinite() {
            if ($MoreData == true && $wait == false) {

                LockUnlockWait();
                var formData = new FormData();
                formData.append('CurrentDataCount', $CurrentDataCount);

                $.ajax({
                        type: 'post',
                        url: '/Home/AjaxAllCategories',
                        data: formData,
                        contentType: false,
                        processData: false,
                        beforeSend: function () {
                            $('#Loader').removeClass('hidden');
                        },
                    success: function (data) {
                        LockUnlockWait();

                            if (data.status) {
                                $MoreData = data.MoreData;
                                $CurrentDataCount = data.CurrentDataCount;

                                setTimeout(function () {

                                    if (!$MoreData) {
                                        $('#LoadMoreData-div').html('<p class="text-black-50 text-center">No More Categories To Load!</p>');
                                    }

                                    $('#Loader').addClass('hidden');
                                    $("#Content").append(data.content);

                                }, 2000);

                            } else {
                                setTimeout(function () {

                                    $MoreData = false;
                                $('#Loader').addClass('hidden');
                                $('#LoadMoreData-div').html('<p class="text-black-50 text-center">No More Categories To Load!</p>');

                                }, 2000);

                            }
                        }
                    });
            }
        }

        function Redirect(URL, ID) {
            $MoreData = false;

            var ThisDiv = '.div-wrapper-category#' + ID;

            //$('.div-wrapper-category').not(ThisDiv).fadeOut('slow');
            $('.div-wrapper-category').fadeOut('slow');



            $(ThisDiv).removeClass('col-6 col-sm-6 col-md-3').addClass('col-12');
            //$(ThisDiv).animate({ opacity: '0.4' }, "slow");
            //$(ThisDiv).addClass('col-12');
            //$(ThisDiv).animate({ opacity: '1' }, "slow");
            $(ThisDiv).show("clip", { direction: "horizontal" }, 1000, function () {
                location.href = URL;
            });

        }
    </script>
}

