@model IEnumerable<Blogging.Models.AdsModel>
@{
    ViewBag.Title = "My Advertisements";
    ViewData["My_Advertisements"] = "active";
    Layout = "~/Views/Creator/CreatorLayout.cshtml";
}
@section head{

    <link rel="stylesheet" type="text/css" href="~/Plugins/datatables/datatables.css" />
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-title">@ViewBag.Title</h3>
                    </div>
                    <div class="col-2">
                        <a href="@Url.Action("AddAdvertisements", "Creator")" class="btn btn-info btn-block">Add Advertisements</a>
                    </div>
                </div>
                
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-striped" id="myDataTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Views</th>
                            <th scope="col">Clicks</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int i = 1; }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    <img class="img-sm" src="~/Images/Ads/@item.ImgUrl" height="200" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FromDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormatedViews)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormatedClicks)
                                </td>
                                <td>
                                    @{
                                        if (item.ToDate >= DateTime.Now)
                                        {
                                            <span class="text-success text-bold">Active</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger text-bold">Expired</span>
                                        }
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-app" href="">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>

@section scripts{
    
    <script type="text/javascript" src="~/Plugins/datatables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myDataTable').DataTable({
                responsive: true
            });
        });
    </script>
}