@{
    ViewBag.Title = "Home";
    ViewData["Home"] = "active";
    Layout = "~/Views/Creator/CreatorLayout.cshtml";

    string[] Lables = new string[ViewBag.AllBlogs.Count];
    long[] ViewCount = new long[ViewBag.AllBlogs.Count];

    int Count = 0;
    foreach (var item in ViewBag.AllBlogs)
    {
        Lables[Count] = item.Title;
        ViewCount[Count] = item.ViewCount;
        Count++;
    }
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total View Time</span>
                <span class="info-box-number">
                    @ViewBag.TotalViewTime
                    <small>minutes</small>
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total Likes</span>
                <span class="info-box-number">
                    @ViewBag.TotalLikes
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Followers</span>
                <span class="info-box-number">
                    @ViewBag.Followers
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Following</span>
                <span class="info-box-number">
                    @ViewBag.Following
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
<div class="row">
    <section class="col-lg-12 connectedSortable ui-sortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card">
            <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Statistics
                </h3>
                <div class="card-tools">

                </div>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="chart" id="viewtime-chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</div>
@section scripts{
    <script src="~/Plugins/Chart.js/Chart.js"></script>
    <script>
        var Label = @Html.Raw(serializer.Serialize(Lables));
        var ViewCount = @serializer.Serialize(ViewCount);

        let myChart = document.getElementById('myChart').getContext('2d');

        // Global Options
        Chart.defaults.global.defaultFontFamily = 'Product Sans';
        Chart.defaults.global.defaultFontSize = 18;
        Chart.defaults.global.defaultFontColor = '#777';

        //View Time v/s Blog
        let massPopChart = new Chart(myChart, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                //labels: ['Blog', 'Blog', 'Blog', 'Blog', 'Blog', 'Blog'],
                labels: Label,
                datasets: [{
                    label: 'Views',
                    //data: [
                    //    617594,
                    //    181045,
                    //    153060,
                    //    106519,
                    //    105162,
                    //    717594
                    //],
                    data: ViewCount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                        'rgba(255, 99, 132, 0.6)',
                        'rgba(54, 162, 235, 0.6)',
                        'rgba(255, 206, 86, 0.6)',
                        'rgba(75, 192, 192, 0.6)',
                        'rgba(153, 102, 255, 0.6)',
                        'rgba(255, 159, 64, 0.6)',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Views v/s Blog',
                    fontSize: 25
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                        fontColor: '#000'
                    }
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                }
            }
        });

    </script>
}

