@model Blogging.Models.SingleBlog
@{
    ViewBag.Title = "Index";
    ViewBag.sidebar_collapse = "sidebar-collapse";
}
@*<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">*@
<link rel="stylesheet" href="~/Plugins/flickity/flickity.css" />

<style>
    .carousel {
        background: #EEE;
    }

    .carousel-cell {
        margin-right: 20px;
        overflow: hidden;
    }

        .carousel-cell img {
            display: block;
            height: 200px;
        }

    @@media screen and ( min-width: 768px ) {
        .carousel-cell img {
            height: 400px;
        }
    }
</style>

<div class="card elevation-3">
    <!-- /.card-header -->
    <div class="card-body">
        <div class="container">
            <h1 class="text-center">
                <span class="cyan-gradient-text">
                    @Model.Blog.Title
                </span>
                <i class="far fa-bookmark text-info Bookmark" style="cursor:pointer" id=""></i>
            </h1>

            <div class="row text-gray" style="line-height:2.5rem;margin-bottom:1rem">
                <div class="col-10">
                    <span>
                        Published on: @Model.Blog.PublishDate
                        @if (Model.Blog.UpdateDate != null)
                        {
                            string UpdateDate = "(Updated on: " + Model.Blog.UpdateDate + ")";
                        }
                    </span>
    
                    </div>
    
                <div class="col-2">
                    <i class="fas fa-eye text-lg"></i>  @Model.Blog.Views
                    &nbsp;
                    <i class="fas fa-thumbs-up text-lg"></i>  @Model.Blog.Likes
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 col-lg-2">

                <div class="card card-info card-outline elevation-3">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            @if (Model.Profile.ImgURL != null)
                            {
                                <img class="profile-user-img img-fluid img-circle lazy" src="~/Images/img-spinner.svg" data-src="/Images/UserProfiles/@Model.Profile.ImgURL" alt="@Model.Profile.Uname">
                            }
                            else
                            {
                                <img src="~/Images/img-spinner.svg" data-src="~/Images/default_user.png" class="profile-user-img img-fluid img-circle lazy" alt="User Image">
                            }
                        </div>

                        <h3 class="profile-username text-center"> @Model.Profile.Name</h3>

                        <p class="text-muted text-center">
                            <a href="@Url.Action("ViewProfile","Account", new { Username = Model.Profile.Uname })">
                                @@@Model.Profile.Uname
                            </a>
                            
                        </p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Followers</b> <a class="float-right"> @Model.Profile.Followers</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="float-right"> @Model.Profile.Following</a>
                            </li>
                            <li class="list-group-item">
                                <b>Blogs</b> <a class="float-right"> @Model.Profile.BlogsCount</a>
                            </li>
                        </ul>

                        @if (Session["userID"] == null)
                        {
                            <button class="btn btn-dark text-white btn-block" type="button" data-toggle="modal" data-target="#modal-login">Login/Register</button>
                        }
                        else if (Model.Profile.UserID != Convert.ToDouble(Session["userID"]))
                        {
                            <button href="#" class="btn btn-info btn-block FollowUser" id="@Model.Profile.UserID"><b>Follow</b></button>
                        }
                        else
                        {
                            <button href="#" class="btn btn-info btn-block" disabled="disabled"><b>Follow</b></button>
                        }

                    </div>
                    <!-- /.card-body -->
                </div>
                <br />
                <!-- Widget: user widget style 2 -->
                <div class="card sticky-top-t1 ">
                    <div class="card-body p-0">
                        <ul class="nav flex-column">
                            @{ 
                                List <string> ColorList = new List<string>{ "bg-primary","bg-info","bg-danger","bg-warning","bg-indigo"};
                                var random = new Random();
                                int ColorListIndex;
                            }
                            @foreach (var CatList in Model.CatList)
                            {
                                 ColorListIndex = random.Next(ColorList.Count);
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        @CatList.Name <span class="float-right badge @ColorList[ColorListIndex]"> @CatList.Count</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
            <div class="col-12 col-md-8 col-lg-8">

                @* Images Section *@
                @if (Model.Blog.HasImages)
                {
                    <div class="carousel mb-5">
                        @foreach (var BlogImgs in Model.BlogImages)
                        {

                        <div class="carousel-cell">
                            <img class="lazy" src="~/Images/img-spinner.svg" data-src="/Images/Blog/@BlogImgs.URL" alt="@BlogImgs.Alt" />
                        </div>
                        }
                    </div>
                }

                @* Blog Content here *@

                    @Html.Raw(Model.Blog.Content)

                @* Comments section *@
                <div style="margin-top:20px">
                    <div class="card card-info card-outline direct-chat direct-chat-info">
                        <div class="card-header">
                            <h3 class="card-title">Comments</h3>

                            <div class="card-tools">
                                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-success">3</span>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <!-- Conversations are loaded here -->
                            <div class="direct-chat-messages">
                                <!-- Message. Default to the left -->
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name float-left">Alexander Pierce</span>
                                        <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <img class="direct-chat-img" src="~/Images/default_user.png" alt="Message User Image">
                                    <!-- /.direct-chat-img -->
                                    <div class="direct-chat-text">
                                        Nice Blog. That's unbelievable!
                                    </div>
                                    <span class="text-sm">
                                        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                            <i class="fas fa-comments"></i>
                                            2 Replies
                                        </button>
                                    </span>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->
                                <!-- Message to the right -->
                                <div class="direct-chat-msg">
                                    <div class="direct-chat-infos clearfix">
                                        <span class="direct-chat-name">Sarah Bullock</span>
                                        <span class="direct-chat-timestamp float-right">23 Jan 2:05 pm</span>
                                    </div>
                                    <!-- /.direct-chat-infos -->
                                    <img class="direct-chat-img" src="~/Images/default_user.png" alt="Message User Image">
                                    <!-- /.direct-chat-img -->
                                    <div class="direct-chat-text">
                                        You better believe it!
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                                <!-- /.direct-chat-msg -->
                            </div>
                            <!--/.direct-chat-messages-->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <form action="#" method="post">
                                <div class="input-group">
                                    <input type="text" name="message" placeholder="Type Message ..." class="form-control" autocomplete="off">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-outline-info">Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- /.card-footer-->
                    </div>
                    <!--/.direct-chat -->
                </div>
            </div>
            @* Adds section *@
            <div class="col-md-2 col-lg-2">
                <div class="card sticky-top-t1">
                    @if (Model.AdsList.Count > 0)
                    {
                        foreach (var Ads in Model.AdsList)
                        {
                            <a href="@Ads.Target">
                                <img class="img-fluid lazy" src="~/Images/img-spinner.svg" data-src="/Images/AdsImg/@Ads.ImgUrl" />
                            </a>
                            <br />
                        }
                    }
                    else
                    {
                        <img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C560BAQHpg-r-l1OuMw/company-logo_200_200/0?e=2159024400&v=beta&t=OpcQBP3_pWwy8srJcQHoDHxaUH9MRN1RPaV5ZzKoUEY" />
                        <br />
                        <img class="img-fluid" src="https://media-exp1.licdn.com/dms/image/C560BAQHpg-r-l1OuMw/company-logo_200_200/0?e=2159024400&v=beta&t=OpcQBP3_pWwy8srJcQHoDHxaUH9MRN1RPaV5ZzKoUEY" />
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
@section scripts{
    @*<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js" type="text/javascript"></script>*@
    <script src="~/Plugins/flickity/flickity.js" type="text/javascript"></script>
    <script>
        var $carousel = $('.carousel').flickity({
            imagesLoaded: true,
            percentPosition: false,
        });

        var $imgs = $carousel.find('.carousel-cell img');
        // get transform property
        var docStyle = document.documentElement.style;
        var transformProp = typeof docStyle.transform == 'string' ?
            'transform' : 'WebkitTransform';
        // get Flickity instance
        var flkty = $carousel.data('flickity');

        $carousel.on('scroll.flickity', function () {
            flkty.slides.forEach(function (slide, i) {
                var img = $imgs[i];
                var x = (slide.target + flkty.x) * -1 / 3;
                img.style[transformProp] = 'translateX(' + x + 'px)';
            });
        });
    </script>
}
